#-*- mode: ruby -*-

if defined? JRUBY_VERSION

  db_gem_line = "gem 'sqlite3'"
  db_gem_regexp = Regexp::quote(db_gem_line).gsub("'", "['\"]")
  
  jdbc_gem_line = "gem 'jdbc-sqlite3', :require => false"
  
  gsub_file "Gemfile", /^#{db_gem_regexp}\w*$/, <<DB
if defined?(JRUBY_VERSION)
  gem 'activerecord-jdbc-adapter'
  #{jdbc_gem_line}
else
  #{db_gem_line}
end
DB
end

# vim: syntax=Ruby
